<%= stylesheet_link_tag "edit_page.css" %>

<body>
  <h1>Edit page</h1>

  <%= form_for :page, url: page_path(@page), method: :patch do |f| %>
    <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> Prohibited this article
        from being saved:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%=  f.label :title %><br>
      <%=  f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</body>
