<%= stylesheet_link_tag "index.css" %>

<head>
  <title>All Pages</title>
  <%= favicon_link_tag "/favicon.ico" %>
</head>

<body background='/assets/black_hole.jpg'>
  <div id="title">Visit to Outer Space</div>
  <div id="search">
  </div>

  <div id="purpose">
    <p>The purpose of this website is for me to gain a understanding of concepts related to space.  And for me to display the things that I'm looking up online in a fashionable way.</p>
  </div>

  <h1>The black hole of things</h1>

  <table align="center">
    <tr>
      <th>Link</th>
      <th>Title</th>
    </tr>

    <% @page.each_with_index do |page, index| %>
      <tr>
         <td><%= link_to "Page #" + (index+1).to_s, page_path(page) %></td>
         <td><%= link_to "\"" + page.title + "\"", page_path(page)  %></td>
         <td><%= link_to "Edit", edit_page_path(page) %></td>
         <td><%= link_to "Delete", page_path(page), method: :delete %></td>
      </tr>
    <% end %>
  </table>
</body>
