<%=  stylesheet_link_tag "edit_page.css" %>
<h1>New Page</h1>

<%= form_for :page, url: pages_path  do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
