<%= stylesheet_link_tag "basic_page.css" %>

<div id="header">
  <b><%= @page.title %></b>
</div>

<br><br>

<%= raw @page.text %>

<div id="footer">
    <b><%= link_to "Main Page", controller: 'pages' %></b>
</div>
