body {
	text-decoration: none;
	font-family: Times New Roman;
	color: #FFFFF0;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	letter-spacing: .25px;
	font-size: 110%;
}

strong {
	font-family: Times New Roman;
	color: #FFFFF0;
	text-align: center;
}

#header {
	background-color: black;
	font-family: Times New Roman;
	font-size:145%;
	text-aling: center;
	position: fixed;
	top: 0px;
	width: 100%;
}

#footer {
	background-color: black;
	text-algin: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}
