body {
	background-color: black;
	color: white;
	font-family: Times New Roman;
}

textarea {
	background-color: #C0C0C0;
	width: 700px;
	height: 450px;
}

input[type=text] {
	background-color: #C0C0C0;
	width: 200px;
}

input[type=submit] {
	font-size: 125%;
	width: 10%;
}
