body {
	text-decoration: none;
	font-family: Times New Roman;
	color: #FFFFF0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFF0;
}

table {
	width: 33%;
	text-align: left;
}

tr {
	padding: 10px;
}

td {
	padding: 5px;
}

#title {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	text-decoration: underline;
}

#purpose {
	text-align: left;
	height: 100px;
	width: 800px;
}
