h1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #FFFFF0;
	text-decoration: none;
}

body {
	text-decoration: none;
	font-family: Times New Roman;
	color: #FFFFF0;
	background-size: 100% 100%;
	min-height: 700px;
}

a {
	text-decoration: none;
	color: #FFFFF0;
}
